# Default ignored files
/../../../../:Lessons/e_commerce/.idea/shelf/
/../../../../:Lessons/e_commerce/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:Lessons/e_commerce/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../:Lessons/e_commerce/.idea/dataSources/
/../../../../:Lessons/e_commerce/.idea/dataSources.local.xml
