# Default ignored files
/../../../../:Lessons/blog1/.idea/shelf/
/../../../../:Lessons/blog1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:Lessons/blog1/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../:Lessons/blog1/.idea/dataSources/
/../../../../:Lessons/blog1/.idea/dataSources.local.xml
